
.App {
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  text-align: center;
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 4px #444;
  /* background-image: url("back.gif"); */
  background: url("back.gif");
  background-size: cover;
  height: 100vh;

}

.App h3{
  font-size: 70px;
  text-shadow: 8px 8px 8px rgb(166, 221, 239);
  -webkit-text-stroke: 1.5px black;

}

